.fintech {
	width: 80%;
	margin: auto;
	color: white;
	font-family: Poppins;
	margin-bottom: 3rem;
	.heading {
		text-align: center;
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 0.9px;
		margin-bottom: 1rem;
	}

	.description {
		width: 100%;
		color: #969799;
		font-size: 24px;
		font-weight: 400;
		display: flex;
		justify-content: space-between;
		gap: 2rem;
		.text {
			width: 65%;
			letter-spacing: 0.9px;
		}
		.button {
			width: 40%;
			margin: 0 auto;
			display: flex;
			justify-content: center;
			align-items: flex-start;
		}
	}
}

@media screen and (max-width: 768px) {
	.fintech {
		width: 90%;
		.description {
			width: 100%;
			font-size: 20px;
			flex-direction: column;
			.text {
				width: 90%;
				text-align: center;
			}
			.button {
				width: 100%;
				display: flex;
				justify-content: center;
			}
		}
	}
}
