.case_study {
	width: 80%;
	margin: auto;
	color: white;
	font-family: Poppins;
	margin-bottom: 4rem;
	.heading {
		text-align: center;
		font-size: 32px;
		font-style: normal;
		font-weight: 700;
		letter-spacing: 0.9px;
		margin-bottom: 1rem;
	}
	.sub_heading {
		color: #fff;
		font-family: Poppins;
		text-align: center;
		font-size: 26px;
		font-style: normal;
		font-weight: 600;
		line-height: normal;
		letter-spacing: 0.9px;
		margin-bottom: 1rem;
	}
	.reverse {
		flex-direction: row-reverse;
	}
	.card {
		display: flex;
		width: 100%;
		margin: auto;
		gap: 2rem;
		margin-bottom: 2rem;
		.card_left {
			width: 40%;
			.image {
				> img {
					width: 100%;
				}
			}
			.card_left_text {
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				display: flex;
				justify-content: space-between;
				line-height: normal;
				letter-spacing: 0.9px;
			}
		}
		.card_right {
			width: 60%;
			display: flex;
			flex-direction: column;
			gap: 1rem;

			.right_lable {
				color: #fff;
				font-family: Poppins;
				font-size: 24px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 0.9px;
			}
			.right_heading {
				color: #fff;
				font-family: Poppins;
				font-size: 24px;
				font-style: normal;
				font-weight: 800;
				line-height: normal;
				letter-spacing: 0.9px;
			}
			.right_description {
				color: #fff;
				font-family: Poppins;
				font-size: 22px;
				font-style: normal;
				font-weight: 400;
				line-height: normal;
				letter-spacing: 0.9px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	.case_study {
		width: 90%;
		.heading {
			font-size: 32px;
		}
		.sub_heading {
			font-size: 20px;
		}
		.card {
			margin-bottom: 4rem;
			flex-direction: column;
			.card_left {
				width: 100%;
				.card_left_text {
					font-size: 10px;
				}
			}
			.card_right {
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 1rem;

				.right_lable {
					font-size: 20px;
				}
				.right_heading {
					font-size: 20px;
				}
				.right_description {
					font-size: 18px;
				}
			}
		}
	}
}
